
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background-color: #00acee;
  }
  
  li {
    float: right
  }
  
  li {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li:hover  {
    background-color: rgb(20, 33, 212);
  }
  
  .link-style{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
  }